In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.dummy import DummyClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, recall_score

In [2]:
%matplotlib inline

In [3]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [4]:
df_train['m13'].value_counts()

0    115422
1       636
Name: m13, dtype: int64

In [5]:
df_test['m12'].value_counts()

0    35724
1      103
3       11
2       11
7        4
6        4
5        4
8        2
4        2
9        1
Name: m12, dtype: int64

In [6]:
from sklearn.utils import resample

In [7]:
X = df_train.drop('m13',axis =1)
y = df_train.m13

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=27)

In [9]:
X = pd.concat([X_train,y_train],axis=1)
X.head()

,loan_id,source,financial_institution,interest_rate,unpaid_principal_bal,loan_term,origination_date,first_payment_date,loan_to_value,number_of_borrowers,...,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13
65425,219082534298,X,OTHER,3.250,96000,180,2012-02-01,04/2012,77,1.0,...,0,0,0,0,0,0,0,0,0,0
43591,728570587585,Y,Browning-Hart,4.125,320000,360,2012-01-01,03/2012,80,2.0,...,0,0,0,0,0,0,0,0,0,0
96308,602556662077,X,OTHER,3.875,166000,360,2012-02-01,04/2012,90,2.0,...,0,0,0,0,0,0,0,0,0,0
67357,230565301697,Y,"Swanson, Newton and Miller",3.250,200000,180,2012-01-01,03/2012,67,2.0,...,0,0,0,0,0,0,0,0,0,0
44053,700132161906,X,OTHER,4.125,382000,360,2012-01-01,03/2012,85,2.0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# separate minority and majority classes
non_deliquency = X[X.m13==0]
deliquency = X[X.m13==1]
# upsample minority
deliquency_upsampled = resample(deliquency,
                          replace=True, # sample with replacement
                          n_samples=len(non_deliquency), # match number in majority class
                          random_state=27) 

# combine majority and upsampled minority
upsampled = pd.concat([non_deliquency,deliquency_upsampled])



upsampled.m13.value_counts()

1    86576
0    86576
Name: m13, dtype: int64

In [11]:
# trying logistic regression again with the balanced dataset
y_train = upsampled.m13
X_train = upsampled.drop('m13', axis=1)
upsampled = LogisticRegression(solver='liblinear')
upsampled.fit(X_train, y_train)

upsampled_pred = upsampled.predict(X_test)

ValueError: could not convert string to float: 'B12'